*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

ul, li, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
}

header{
    min-height: 150px;
    background-color: #059688;
}

main{
    background-color: #d8dbd7;
}

.user_image{
    max-width: 50px;
    border-radius:50%;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    min-height: 700px;
    position: relative;
    top: -120px;
    background-color: white;
}

.content{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}


.side__content, .main__content{
    border: 1px solid black;
    
}


.side__content{
    flex-basis: calc((100% / 12) * 4);
    height: 100%;
    flex-shrink: 0;
}

.main__content{
    flex-basis: calc((100% / 12) * 8);
    height: 100%;
}

.head__side{
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-around;
    padding: 5px;
    background-color: #eae9eb;
}

.name__side{
    flex-grow:21;
    margin-left: 10px;
    font-weight: bold;
}

.icon__side > i{
    margin-right: 15px;
}


.notes__side{
    background-color: #8ddafd;
    display: flex;
    flex-wrap: nowrap;
    padding:10px 0;
    align-items: center;
}


.icon__note{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px ;
    background-color: white;
    color: #8ddafd;
    border-radius:50% ;
    padding: 10px;
    aspect-ratio: 1;
}


.text__note > span{
   font-weight: bold;
   font-size: 14px;
   margin-right: 6px;
}

.input__side{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    background-color: #fcf8fc;
    border: 1px solid black;
}

.button__input{
    padding: 4px 20px;
    margin-right: 4px;
}

.input__text  > input {
    height: 27px;
    margin-right:22px;
    flex-grow: 10;
    width: 100%;
}

.bg-chat__main{
    border: 1px solid red;
    min-height: 100%;
    background-image: url("mine.jpg");
}

.chat-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.chat-text__main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #eae9eb;
}

.icon-smile__write, .micro-smile__chat{
    padding:0 10px ;
}

.input__chat{
    flex-grow: 33;
    padding: 0 20px;
}


.input__chat > input{
    width: 100%;
    height: 40px;
    padding: 10px 5px;
    border-radius: 10px;
}